<section class="header clearfix">
  <div class="right-buttons">
    {{#link-to ".imageRepo.projects.new" classNames="btn btn-sm bg-primary right-divider-btn"}} {{t 'imageRepo.projectsPage.addProject'}} {{/link-to}}
  </div>

  <h1>{{t 'podSecurityPoliciesPage.index.header'}}</h1>

</section>
<section class="instances pt-5 pb-5">


</section>