<section class="header has-tabs clearfix pb-0">
  <ul class="tab-nav">
    <li>
      {{#link-to "image-repo.projects.detail.repositories" model.projectId}}镜像仓库{{/link-to}}
    </li>
    {{!-- <li>
      {{#link-to "image-repo.projects.detail.members" model.projectId}}成员{{/link-to}}
    </li>
    <li>
      {{#link-to "image-repo.projects.detail.replications" model.projectId}}复制{{/link-to}}
    </li> --}}
    <li>
      {{#link-to "image-repo.projects.detail.labels" model.projectId}}标签{{/link-to}}
    </li>
    <li>
      {{#link-to "image-repo.projects.detail.logs" model.projectId}}日志{{/link-to}}
    </li>
    <li>
      {{#link-to "image-repo.projects.detail.configs" model.projectId}}配置管理{{/link-to}}
    </li>
  </ul>
</section>
<section>
  <div class="fixed-header-actions row clearfix" style="display: flex;align-items:center;margin-top:40px;">
    <div class="pull-left" style="margin-left:10px;padding-left:20px;font-size:17px">
      项目仓库
    </div>
    <div class="pull-left" style="flex:1;padding-left:180px;">
      <div class="row">
        <label class="acc-label" for="plubic" style="font-size: 15px; color: #454545;user-select: none;">公开</label>
        {{#input-or-display value=openOrTransparent}}
          {{input type="checkbox" id="plubic" name="plubic" class="form-control" checked=model.metaData.public placeholder="是否公开"}}
        {{/input-or-display}}
        <div class="text-info" style="margin-top:5px;"> 所有人都可访问公开的项目仓库。</div>
      </div> 
    </div>
  </div>
  {{save-cancel save="savePublicConfig" saving=saving saveDisabled=saveDisabled cancelDisabled=cancelDisabled cancel="cancelPublicConfig" createLabel="imageRepoSection.adminConfigPage.saveHarborConfig" }}
</section>