// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
  clear: both;
}

.header {
    display: grid;
    grid-template-areas:
        "type-banner type-banner"
        "title actions"
        "state-banner state-banner";
    grid-template-columns: auto auto;
    margin-bottom: 20px;
    // align-content: center;
    min-height: 48px;
    align-items: center;

    > * {
      flex-grow: 1;
    }

    h1 {
      margin: 0;
    }
  .right-buttons {
    @include clearfix;
    justify-content: flex-end;
    align-self: center;
    text-align: right;
    // float: right;
  }
}

.header-borderless {
  @extend .header;
  border-bottom: none;
}

#application {
  .header {
    @include clearfix;
    display: block;
    line-height: 48px;
  
    h1 {
      margin: 2px 0;
      font-size: 21px;
      float: left;
    }
  
    .right-buttons {
      @include clearfix;
      float: right;

      justify-content:	flex-start;
      align-self: center;
      text-align: right;
  
      > .resource-actions {
        .btn {
          padding: 6px 10px 4px 10px;
          margin-left: 10px;
        }
      }
    }
  }
}
