<section class="header has-tabs clearfix pb-0">
  <ul class="tab-nav">
    <li>
      {{#link-to "image-repo.projects.detail.repositories" model.projectId}}镜像仓库{{/link-to}}
    </li>
    <li>
      {{#link-to "image-repo.projects.detail.members" model.projectId}}成员{{/link-to}}
    </li>
    {{!-- <li>
      {{#link-to "image-repo.projects.detail.replications" model.projectId}}复制{{/link-to}}
    </li> --}}
    <li>
      {{#link-to "image-repo.projects.detail.labels" model.projectId}}标签{{/link-to}}
    </li>
    <li>
      {{#link-to "image-repo.projects.detail.logs" model.projectId}}日志{{/link-to}}
    </li>
    <li>
      {{#link-to "image-repo.projects.detail.configs" model.projectId}}配置管理{{/link-to}}
    </li>
  </ul>
</section>
<section>
{{#custom-labels labelParam=labelParam}}{{/custom-labels}}
</section>